$heading-margin: 0.25em 0 0.5em 0;
$heading-family: "Cantarell", "Noto Sans", "Helvetica Neue", "Segoe UI", Helvetica, sans-serif;
$link-color: hsl(204, 50.8%, 26.1%);

html {
  background-color: #fcfcfc;
  min-height: 100%;
}
body {
  margin:40px auto;
  max-width: 800px;
  line-height:1.6;
  font-family: "Lato", "Avenir Next", "Helvetica Neue", Helvetica, sans-serif;
  font-size:18px;
  color:#444;
  padding:0 10px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
pre, code {
  font-family: "Pragmata Pro", "Pragmata Pro Mono", "Iosevka", "Consolas", monospace;
  font-size: 16px;
}
pre {
  padding: 0.5em 1em;
}
h1,h2,h3,h4 {
  font-family: $heading-family;
  margin: $heading-margin;
  line-height: 1.2;
}
h1,h2 {
  font-weight: 300;
}
h3 {
  font-weight: 400;
}
main img {
  max-width: 100%;
}
main.home {
  h1 {
    text-align: center;
    font-size: 5em;
    font-weight: 200;
    line-height: 1.2;
  }
  h2 {
    font-size: 2em;
  }
  h2,h3 {
    font-weight: 300;
  }
}

a {
  text-decoration: underline;
}
a:link, a:visited {
  color: $link-color;
}
.hover-underline:hover {
  border-bottom: 1px solid currentColor;
}
nav a:link, nav a:visited {
  color: #666;
}
.post-metadata {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;

  em {
    font-style: normal;
    color: #7a7a7a;
  }
}
article {
  margin-bottom: 3em;

  h2,h3 {
    a:link, a:visited {
      color: currentColor;
      text-decoration: none;
      border-bottom: 2px solid currentColor;
    }
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
    font-weight: 300;
  }
  h4 {
    font-size: 1.25em;
    font-weight: 400;
  }
}
img, canvas, iframe, video, svg {
  max-width: 100%;
  margin: 0 auto;
}
figure {
  margin: 0 auto 1.5em;
}
figcaption {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
footer {
  color: #888;
  border-top: 1px solid #AAA;
  margin: 1em 0px 2em;
  clear: both;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .copyright {
  font-size: 14px;
  margin-top: 1em;
  display: block;
}

.no-border {
  border: none;
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.text-smaller {
  font-size: 0.5em;
}

.logo {
  font-size: 1.75em;
  a {
    color: #555;
  }
}

.breadcrumb-sep {
  color: #999;
}

.tagline {
  line-height: 1.2;
  font-weight: 300;
  font-size: 2em;
  margin: $heading-margin;
  font-family: $heading-family;
}
.desktop-diagram {
  max-width: 640px;
  margin: 4em auto 2em;
}

.action-button {
  background-color: $link-color;
  border-radius: 0.25em;
  border: 2px solid $link-color;
  color: white;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  margin: 0.75em 0;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
}
.action-button-ghost {
  background-color: initial;
  color: $link-color;
}
.action-button-ghost:hover {
  background-color: $link-color;
  color: white;
}

.sponsor {
  background-color: hsl(349.1, 50%, 97%);
  padding: 1em;
  border-radius: 3px;

  p {
    margin: 0;
  }

  .action-button {
    margin-top: 2em;
  }
}

#zola-continue-reading {
  margin: 0;
}

.post-body h3 {
  margin-top: 1.5em;
}

.footnote-definition {
  font-size: smaller;
}
.footnote-definition-label {
  float: left;
  margin-right: 0.5em;
}

.date-icon {
  width: 24px;
  vertical-align: top;
  margin-right: 9px;
}
.ornament {
  display: inline-block;
  margin: 0 auto;
  width: 33px;
  text-align: center;
}
.screenshot img {
  border: 1px solid #666;
}

.small-caps {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
}

.three-columns {
  columns: 3;

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.socials {
  font-size: 14px;
  margin-top: 1em;
}
.social-icon-wide {
  margin: 0 0.6em;
}
.social-icon {
  margin: 0 0.5em;
}

@media screen and (max-width: 375px) {
  .date-published {
    margin-top: 0.75em;
  }
  .ornament {
    visibility: hidden;
  }
  .date-updated {
    margin-top: 0.5em;
    position: relative;
    left: -33px;
  }
}
