html {
  background-color: whitesmoke;
}
body {
  margin:40px auto;
  // max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px;
  font-family: "Cantarell", "Noto Sans", Helvetica, sans-serif;
  text-align: center;
}
h1 {
  font-size: 5em;
  font-weight: 200;
  line-height: 1.2;
}
h2 {
  font-size: 2em;
}
h2,h3 {
  line-height: 1.2;
  font-weight: 300;
}
